@tailwind base;
@tailwind components;
@tailwind utilities;

.dashboard {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.dashboard h2 {
  @apply pt-24;
  font-size: 3em;
  margin-bottom: 0.5em;
}

.dashboard p {
  @apply text-lg;
  color: #aaa;
  margin-bottom: 1em;
}

.noposts {
  text-align: center;
}

.noposts p {
  @apply text-gray-400;
  margin-bottom: 1.5em;
}

.noposts a {
  padding: 10px 25px;
}

.post_header {
  display: flex;
  justify-content: space-between;
  font-weight: bold;
  border-bottom: 2px solid #ccc;
  width: 80%;
  padding: 10px;
}

.post_row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #eee;
  width: 80%;
  padding: 10px;
}

.post_row p {
  color: #000;
}

.post_row button,
.post_row a {
  
  @apply justify-center text-center mt-2 border-2 px-1 border-black text-white bg-zinc-900 hover:bg-white hover:text-black rounded-lg transition-colors duration-200  font-bold space-x-2 flex ;
}


.btn{
  @apply justify-center text-center mt-2 border-2 px-1 border-black text-white bg-zinc-900 hover:bg-white hover:text-black rounded-lg transition-colors duration-200  font-bold space-x-2 flex;
}